PORT=8081
FRONTEND_URL=http://localhost:5173
NODE_ENV=test

MONGO_URI=mongodb://localhost:27017/
DB_NAME=ecommercetest_test

ACCESS_TOKEN_SECRET=test_access_token_secret_123
REFRESH_TOKEN_SECRET=test_refresh_token_secret_456

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DISABLED=false